<table class="table table-hover">
  <thead class="thead-light">
    <tr>
      <th> Visualize</th>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Discipline</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teach of teachers">
      <td>
        <button (click)="teacherSelect(teach)" class="text-dark btn btn-sm btn-outline-warning">Detail</button>
      </td>
      <th scope="row">{{teach.id}}</th>
      <td>{{teach.name}}</td>
      <td>{{disciplineConcat(teach.disciplines)}}</td>
    </tr>
  </tbody>
</table>
